@charset "utf-8";
/* CSS Reset */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  ::-webkit-scrollbar {
    display: none;
  }
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    display: flex;
    background-color: green;
    align-items: center;
    flex-direction: column;

    section {
      display: flex;
      span {
        padding: 10px;
      }
    }
  }

  main {
    background-image: url('../images/dancing-banana.gif');
    width: 800px;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin: auto;
  }

  footer {
    text-align: right;
    padding-right: 20px;
  }
}

body.paused {
  background-color: grey;
  header {
    background-color: rgba(0, 128, 0, 0.648);
  }
  main {
    background-image: url('../images/dancing-banana.png');
  }
}

#game-board {
  display: flex;
  flex-direction: column;

  button {
    width: max-content;
  }
}

#score-board.greyed {
  .player-name-display {
    color: rgb(65, 65, 65);
  }

  .player-score-display {
    color: rgb(65, 65, 65);
  }
}
