@charset "utf-8";
/* CSS Reset */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  ::-webkit-scrollbar {
    display: none;
  }
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    min-height: 50px;
    height: auto;
    width: 100vw;
    background-color: rgb(247, 101, 125);
    align-items: center;
    flex-direction: column;

    #score-board {
      display: flex;
      flex-flow: wrap;
      justify-content: space-evenly;
      align-items: flex-end;
      height: 100%;
      width: 100vw;
    }
    div {
      min-width: 25%;
      width: auto;
      display: flex;
      justify-content: center;
      p {
        color: rgb(65, 65, 65);
        padding: 10px;
      }
    }
    div.featured {
      p {
        color: white;
        font-size: 1.1em;
      }
    }
  }

  main {
    background-color: #0a0303;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('../images/dancing-banana.gif');
    width: 800px;
    height: 100%;
    overflow: hidden;
    margin: auto;
  }

  footer {
    text-align: right;
    padding-right: 20px;
  }
}

body.paused {
  background-color: grey;
  header {
    background-color: rgba(247, 101, 125, 0.591);
  }
  main {
    background-image: url('../images/dancing-banana.png');
  }
  div.featured {
    p {
      color: rgb(65, 65, 65);
      font-size: 1em;
    }
  }
}

#game-board {
  display: flex;
  flex-direction: column;

  button {
    width: max-content;
  }
}

#score-board.greyed {
  color: rgb(65, 65, 65);
  color: rgb(65, 65, 65);
}
